body {
    background-image: url("img/7fa342abcaa90aabe3bfdbf12778b621.jpg");
}

p {
    margin: 0px;
}

.main {
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    justify-content: center;
    margin: 5vh auto 0;
    padding: 10px 0px;
    background-color: #181514;
    border: 2px solid #181514;
    border-radius: 30px;
    box-shadow: 5px 5px 25px #A39F9E;
    width: max-content;
    height: max-content;
    text-align: center;
}

.line {
    flex: 0 1 100%;
    margin: 10px 15px 0px;
    padding: 10px 20px;
    color: azure;
    border: 1px solid #C6BDBB;
    border-radius: 50px;
    max-width: 100%;
    max-height: 15%;
    font-size: 4rem;
    text-align: right;
}

.del {
    flex: 0 1 100%;
    color: azure;
    font-size: 4rem;
}

.del button {
    background: black;
    box-shadow: 1px 1px 1.5px #a39f9e;
    color: #fff;
    margin: auto 0px;
    margin-top: 30px;
    padding: 10px 20px;
    width: auto;
    height: auto;
    font-size: 4rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.del button:hover {
    filter: brightness(160%);
}

.del button:active {
    filter: brightness(90%);
}


.btns {
    display:flex;
    flex-direction:row;
    margin: 15px 15px 50px;
    padding: 15px;
    max-width: 100%;
}


.numberArea {
    margin: 10px 10px ;
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 50vw;
}

.numberArea button {
    width: 50px;
    background: black;
    box-shadow: 1px 1px 1.5px #a39f9e;
    color: #fff;
}

.numberEquals {
    flex: 0 1 25%;
}

.numberEquals button{
    margin: auto 0px;
    padding: 10px 20px;
    width: 7rem;
    height: auto;
    font-size: 4rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}


.numberEquals button:hover {
    filter: brightness(160%);
}

.numberEquals button:active {
    filter: brightness(90%);
}



