body {
    background-image: url("/img/7fa342abcaa90aabe3bfdbf12778b621.jpg");
    /* background-size: 100%;
    background-repeat: no-repeat; */

}

.main {
    margin: 200px auto 0;
    padding: 10px;
    background-color: #181514;
    border: 2px solid #181514;
    border-radius: 50px;
    box-shadow: 5px 5px 25px #A39F9E;
    width: 400px;
    height: 600px;
    text-align: center;
}

