body {
    background-image: url("../img/7fa342abcaa90aabe3bfdbf12778b621.jpg");
}


p {
    margin: 0px;
}

.main {
    display:flex;
    flex-wrap:wrap;
    text-align: center;
    justify-content: center;
    margin: 5vh auto 0;
    padding: 10px 0px;
    background-color: #181514;
    border: 2px solid #181514;
    border-radius: 30px;
    box-shadow: 5px 5px 25px #A39F9E;
    width: 85vw;
    height: max-content;
    text-align: center;
}

.line {
    flex: 0 1 100%;
    margin: 10px 15px 0px;
    padding: 10px 20px;
    color: azure;
    border: 1px solid #C6BDBB;
    border-radius: 50px;
    max-width: 70vw;
    max-height: 15%;
    font-size: 4rem;
    text-align: right;
}

.del {
    flex: 0 1 100%;
    justify-content: center;
    color: azure;
    font-size: 4rem;
}

.del .btn {
    background: black;
    box-shadow: 1px 1px 1.5px #a39f9e;
    color: #fff;
    margin: auto auto;
    margin-top: 30px;
    padding: 10px 20px;
    width: 15vw;
    min-width: max-content;
    height: auto;
    font-size: 4rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.del .btn:hover {
    filter: brightness(160%);
}

.del .btn:active {
    filter: brightness(90%);
}


.btns {
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin: 15px 15px 50px;
    padding: 15px;
    max-width: 100%;
}


.numberArea {
    margin: 10px 10px ;
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 50vw;
}

.numberArea .btn {
    width: 50px;
    background: black;
    box-shadow: 1px 1px 1.5px #a39f9e;
    color: #fff;
}

.numberEquals {
    flex: 1 0 25%;
    padding-top: 3vh;
}

.numberEquals .btn{
    margin: auto 0px;
    padding: 1vh 1vw;
    width: 7vw;
    min-width: 0.7em;
    height: auto;
    font-size: 4rem;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}


.numberEquals .btn:hover {
    filter: brightness(160%);
}

.numberEquals .btn:active {
    filter: brightness(90%);
}



